<%- include includes/header-medico.ejs %>
<link rel="stylesheet" href="views/css/new-style.css" />

<section class="box__panel medico-telemedicina">
    <div class="container">
        <div class="row search-inner">
            <div class="">
                <div class="col-12">

                    <div class="modal-all">
                        <div class="bg-modal modal-out-d"></div>
                        <section class="modal-container tel">
                            <header class="modal__header">
                                <div>
                                    Consulta por telemedicina
                                    <div class="duration">
                                        Principal queixa: <br />
                                        Fortes dores na parte abdominal, diarréia, vômito, febre e suor frio durante o
                                        dia.
                                    </div>
                                </div>
                            </header>
                            <div class="modal__content">
                                <div class="modal__content__title">
                                    <div class="modal__content__title__all">
                                        <div class="modal__content__icon">

                                        </div>
                                        <h3>
                                            Marcelo Dias
                                            <small>
                                                Paciente
                                            </small>
                                        </h3>
                                    </div>
                                    <div class="crm">
                                        Particular
                                    </div>
                                </div>
                                <div class="btn-all">
                                    <button class="btn success modal-out">
                                        ACEITAR
                                    </button>
                                    <button class="btn danger modal-out">
                                        RECUSAR
                                    </button>
                                </div>
                            </div>
                        </section>
                        <section class="modal-container finish">
                            <header class="modal__header">
                                <div>
                                    Deseja finalizar a consulta?
                                    <div class="duration">
                                        Duração do atendimento:
                                        <span>
                                            01:30:23
                                        </span>
                                    </div>
                                </div>
                            </header>
                            <div class="modal__content">
                                <div class="modal__content__title">
                                    <div class="modal__content__title__all">
                                        <div class="modal__content__icon">

                                        </div>
                                        <h3>
                                            Marcelo Dias
                                            <small>
                                                Paciente
                                            </small>
                                        </h3>
                                    </div>
                                    <div class="crm">
                                        Particular
                                    </div>
                                </div>
                                <button class="btn danger modal-out-d">
                                    FINALIZAR CONSULTA
                                </button>
                            </div>
                        </section>
                    </div>


                    <section id="telemedicine">

                        <header class="telemedicine__header">
                            <div class="telemedicine__header__icon">

                            </div>
                            <div class="telemedicine__header__title">
                                <h2>
                                    Marcelo Dias
                                    <small>
                                        Paciente
                                    </small>
                                </h2>
                            </div>
                            <div class="telemedicine__header__status">
                                <div class="online"></div>
                                <span>
                                    Online
                                </span>
                            </div>
                        </header>
                        <div class="telemedicine__content">
                            <a href="" class="back">
                                <img src="views/img/p-back.svg" alt="">
                            </a>
                            <div class="video-full full"></div>
                            <div class="video-mini">
                            </div>
                            <footer class="container-footer">
                                <ul>
                                    <li>
                                        <a href="">
                                            <img src="views/img/p-copy.svg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="views/img/p-file.svg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="views/img/p-video.svg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="modal-tel">
                                            <img src="views/img/p-call.svg" alt="">
                                        </a>
                                    </li>
                                </ul>
                                <div class="finish">
                                    <a href="" class="modal-in">
                                        <img src="views/img/p-phone.svg" alt="">
                                    </a>
                                </div>
                            </footer>
                        </div>
                    </section>


                    <section id="diagnosis">
                        <div class="action">
                            <button class="btn success">
                                Diagnosticar Paciente
                            </button>
                        </div>

                        <div class="content">

                            <header>
                                <ul>
                                    <li>
                                        <button class="active item" data-view="exames">
                                            Exames
                                        </button>
                                    </li>
                                    <li>
                                        <button class="item" data-view="prescricoes">
                                            Prescrições
                                        </button>
                                    </li>
                                    <li>
                                        <button class="item" data-view="profissionais">
                                            Profissionais
                                        </button>
                                    </li>
                                    <li>
                                        <button class="item" data-view="consultas">
                                            Consultas
                                        </button>
                                    </li>
                                </ul>
                            </header>
                            <div class="content-all-itens">
                                <section data-active="exames" class="content-sub exames" style="opacity: 1; display: block; transform: matrix(1, 0, 0, 1, 0, 0);">
                                    <ul>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Radiografia
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Tomografia
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Tumografia
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Holter
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                                <section data-active="prescricoes" class="content-sub prescricoes">
                                    <ul>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Radiografia 2
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Tomografia 2
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Tumografia 2
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Holter 2
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                                <section data-active="profissionais" class="content-sub profissionais">
                                    <ul>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Radiografia 3
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Tomografia 3
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Tumografia 3
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Holter 3
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                                <section data-active="consultas" class="content-sub consultas">
                                    <ul>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Radiografia 4
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Tomografia 4
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Tumografia 4
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img">
                                                <img src="views/img/rx.jpg" alt="">
                                                <div class="icon">
                                                    <img src="views/img/icon-rx.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h4>
                                                    Holter 4
                                                    <small>
                                                        10/11/2018
                                                    </small>
                                                </h4>
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>

                        <section class="content-typs">
                            <ul>
                                <a href="#summary" class="" data-fancybox="atendimento">
                                    <li>
                                        <div class="icon">
                                            <img src="views/img/t1.svg" alt="">
                                        </div>
                                        <div class="text">
                                            <p>
                                                Resumo
                                            </p>
                                        </div>

                                    </li>
                                </a>
                                <a href="#anamnese" class="" data-fancybox="atendimento">
                                    <li>
                                        <div class="icon">
                                            <img src="views/img/t1.svg" alt="">
                                        </div>
                                        <div class="text">
                                            <p>
                                                Anamnese
                                            </p>
                                        </div>
                                    </li>
                                </a>
                                <a href="#exame" class="" data-fancybox="atendimento">
                                    <li>
                                        <div class="icon">
                                            <img src="views/img/t1.svg" alt="">
                                        </div>
                                        <div class="text">
                                            <p>
                                                Exame Físico
                                            </p>
                                        </div>
                                    </li>
                                </a>
                                <a href="#diagnostico" class="" data-fancybox="atendimento">
                                    <li>
                                        <div class="icon">
                                            <img src="views/img/t1.svg" alt="">
                                        </div>
                                        <div class="text">
                                            <p>
                                                Diagnóstico
                                            </p>
                                        </div>
                                    </li>
                                </a>
                                <a href="#evolution" class="" data-fancybox="atendimento">
                                    <li>
                                        <div class="icon">
                                            <img src="views/img/t2.svg" alt="">
                                        </div>
                                        <div class="text">
                                            <p>
                                                Evolução
                                            </p>
                                        </div>
                                    </li>
                                </a>
                                <a href="#orcamento" class="" data-fancybox="atendimento">
                                    <li>
                                        <div class="icon">
                                            <img src="views/img/t3.svg" alt="">
                                        </div>
                                        <div class="text">
                                            <p>
                                                Orçamento
                                            </p>
                                        </div>
                                    </li>
                                </a>
                                <a href="#exames_procedimentos" class="" data-fancybox="atendimento">
                                    <li>
                                        <div class="icon">
                                            <img src="views/img/t4.svg" alt="">
                                        </div>
                                        <div class="text">
                                            <p>
                                                Exames e Procedimentos
                                            </p>
                                        </div>
                                    </li>
                                </a>
                                <a href="#prescricoes" class="" data-fancybox="atendimento">
                                    <li>
                                        <div class="icon">
                                            <img src="views/img/t4.svg" alt="">
                                        </div>
                                        <div class="text">
                                            <p>
                                                Prescrições
                                            </p>
                                        </div>
                                    </li>
                                </a>
                                <a href="#atestados" class="" data-fancybox="atendimento">
                                    <li>
                                        <div class="icon">
                                            <img src="views/img/t4.svg" alt="">
                                        </div>
                                        <div class="text">
                                            <p>
                                                Atestado
                                            </p>
                                        </div>
                                    </li>
                                </a>
                                <a href="#anexos" class="" data-fancybox="atendimento">
                                    <li>
                                        <div class="icon">
                                            <img src="views/img/t5.svg" alt="">
                                        </div>
                                        <div class="text">
                                            <p>
                                                Anexos
                                            </p>
                                        </div>
                                    </li>
                                </a>
                                <a href="#compartilhar" class="" data-fancybox="atendimento">
                                    <li>
                                        <div class="icon">
                                            <img src="views/img/t4.svg" alt="">
                                        </div>
                                        <div class="text">
                                            <p>
                                                Compartilhar Dados
                                            </p>
                                        </div>
                                    </li>
                                </a>
                                <a href="#anexos" class="" data-fancybox="atendimento">
                                    <li>
                                        <div class="icon">
                                            <img src="views/img/t4.svg" alt="">
                                        </div>
                                        <div class="text">
                                            <p>
                                                Imagens e Anexos
                                            </p>
                                        </div>
                                    </li>
                                </a>
                            </ul>
                        </section>
                    </section>

                    <section class="modals">
                            <button class="btn-fancybox left" data-item="left"><</button>
                            <button class="btn-fancybox right" data-item="right">></button>
                        <div class="modal" id="summary">
                            <div class="modal-box">
                                <div class="modal-title">
                                    <h2>Resumo do Paciente</h2>
                                </div>
                                <div class="timeline-point">
                                    <div class="point-line"></div>
                                    <div class="limeline-content">
                                        <div class="timeline-header">
                                            <span class="point-date">24/06/18</span>
                                            <span class="point-author">por: Dr. Pedro Henrique</span>
                                        </div><!-- lime header -->
                                        <div class="timeline-item">
                                            <div class="timeline-headling">
                                                <h2 class="headline">Anamnese</h2>
                                                <a href="#" class="btn btn-timeline">Imprimir</a>
                                            </div><!-- timeline headling-->
                                            <div class="timeline-body">
                                                <p>Queixa principal e duração:</p>
                                                <p>Exemplo da queixa</p>
                                            </div><!-- timeline body-->
                                        </div><!-- timeline item-->


                                        <div class="timeline-item">
                                            <div class="timeline-headling">
                                                <h2 class="headline">Afestados</h2>
                                                <a href="#" class="btn btn-timeline">Imprimir</a>
                                            </div><!-- timeline headling-->
                                            <div class="timeline-body">
                                                <p>Atesto para os devidos fins a pedido do interessado que #nome_paciente, portador do documento de identidade #rg_paciente, foi submetido à consulta médica nesta data.</p>
                                                <br /> 
                                                <p>Em decorrência, deverá permanecer afastado de suas atividades laborativas por um período de _______ dias a partir desta data.</p>
                                            </div><!-- timeline body-->
                                        </div><!-- timeline item-->

                                        <div class="timeline-item">
                                            <div class="timeline-headling">
                                                <h2 class="headline">Exames</h2>
                                                <a href="#" class="btn btn-timeline">Imprimir</a>
                                            </div><!-- timeline headling-->
                                            <div class="timeline-body">
                                                <p>TOMOGRAFIA</p>
                                                <p>ULTRASSOM</p>
                                            </div><!-- timeline body-->
                                        </div><!-- timeline item-->



                                    </div><!-- timeline content-->
                                </div><!-- timeline point-->

                                
                            </div>
                        </div>

                        <div class="modal" id="anamnese">
                            <div class="modal-box">
                                <div class="modal-title">
                                    <h2>Anamnese</h2>
                                </div>
                                <div class="form">
                                    <form action="">
                                        <textarea name="queixa" class="form-textarea" placeholder="Queixa principal e duração"></textarea>
                                        <textarea name="historia" class="form-textarea" placeholder="História da molestia atual"></textarea>
                                        <textarea name="investigacao" class="form-textarea" placeholder="Investigação dos diversos aparelhos"></textarea>
                                        <textarea name="medicacoes" class="form-textarea" placeholder="Medicações em uso"></textarea>
                                        <textarea name="antecedentes" class="form-textarea" placeholder="Antecedentes"></textarea>
                                        <textarea name="observacoes" class="form-textarea" placeholder="Observações"></textarea>
                                        <button class="btn btn-block btn-timeline">Salvar documento</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal" id="exame">
                            <div class="modal-box">
                                <div class="modal-title">
                                    <h2>Exames</h2>
                                </div>
                                <div class="form">
                                    <form action="">
                                        <textarea name="neurologico" class="form-textarea" placeholder="Exame neurologico"></textarea>
                                        <textarea name="fisicogeral" class="form-textarea" placeholder="Exame fisico geral"></textarea>
                                        <textarea name="laboratoriais" class="form-textarea" placeholder="Laboratorias"></textarea>
                                        <textarea name="imagem" class="form-textarea" placeholder="Imagem"></textarea>
                                        <textarea name="observacoes" class="form-textarea" placeholder="Observações"></textarea>
                                        <div class="shared">
                                            <div class="shared-text">
                                                <p>Compartilhar com paciente</p>
                                            </div>
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                                            </div>
                                        </div>
                                        
                                        <button class="btn btn-block btn-timeline">Salvar documento</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal" id="diagnostico">
                            <div class="modal-box">
                                <div class="modal-title">
                                    <h2>Hipótese diagnóstica</h2>
                                </div>
                                <div class="form">
                                    <form action="#" method="post">
                                        <div class="row line-item">
                                            <div class="col-md-9">
                                                <input type="text" class="form-textarea input" placeholder="Diagnostico">
                                            </div>
                                            <div class="col-md-3">
                                                <a href="#" class="btn btn-sm-timeline btn-timeline">Adicionar</a>
                                            </div>
                                        </div>
                                        
                                        <div class="row line-item">
                                            <div class="col-md-9 d-flex align-items-center">
                                                <p>FEBRE</p>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="#" class="btn btn-sm-timeline btn-timeline danger">Remover</a>
                                            </div>
                                        </div>

                                        <div class="row line-item">
                                            <div class="col-md-9">
                                                <p>VIROSE DO TIPO X</p>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="#" class="btn btn-sm-timeline btn-timeline danger">Remover</a>
                                            </div>
                                        </div>
                                        <br />
                                        <textarea name="observacoes" class="form-textarea" placeholder="Observações"></textarea>
                                        <div class="shared">
                                            <div class="shared-text">
                                                <p>Compartilhar com paciente</p>
                                            </div>
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                                            </div>
                                        </div>
                                        
                                        <button class="btn btn-block btn-timeline">Salvar documento</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal" id="evolution">
                            <div class="modal-box">
                                <div class="modal-title">
                                    <h2>Evolução</h2>
                                </div>
                                <div class="form">
                                    <form action="">
                                        <textarea name="evolucao" class="form-textarea" placeholder="Evoluação"></textarea>
                                        <div class="shared">
                                            <div class="shared-text">
                                                <p>Compartilhar com paciente</p>
                                            </div>
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                                            </div>
                                        </div>
                                        
                                        <button class="btn btn-block btn-timeline">Salvar documento</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal" id="orcamento">
                            <div class="modal-box">
                                <div class="modal-title">
                                    <h2>Orçamento</h2>
                                </div>
                                <div class="form">
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" class="form-textarea input" placeholder="Indicação clínica" />
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="text" class="form-textarea" placeholder="Procedimento">
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-textarea" placeholder="Quantidade">
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-circle btn-timeline">+</a>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="shared">
                                            <div class="shared-text">
                                                <p>Compartilhar com paciente</p>
                                            </div>
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                                            </div>
                                        </div>
                                        
                                        <button class="btn btn-block btn-timeline">Salvar documento</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal" id="exames_procedimentos">
                            <div class="modal-box">
                                <div class="modal-title">
                                    <h2>Exames e procedimentos</h2>
                                </div>
                                <div class="form">
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-textarea input" placeholder="Data">
                                            </div>
                                            <div class="col-md-6">
                                                <button class="btn btn-sm btn-timeline btn-radius active">SADT</button>
                                                <button class="btn btn-sm btn-timeline btn-radius">Particular</button>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" class="form-textarea input" placeholder="Indicação Clínica">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="text" class="form-textarea input" placeholder="Exames">
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-textarea input" placeholder="Quantidade">
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-circle btn-timeline">+</a>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="shared">
                                            <div class="shared-text">
                                                <p>Compartilhar com paciente</p>
                                            </div>
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                                            </div>
                                        </div>
                                        
                                        <button class="btn btn-block btn-timeline">Salvar documento</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal" id="prescricoes">
                            <div class="modal-box">
                                <div class="modal-title">
                                    <h2>Prescrições</h2>
                                </div>
                                <div class="form">
                                    <form action="#" method="post">
                                       <div class="row">
                                           <div class="col-md-12">
                                               <input type="text" class="form-textarea input" placeholder="Data">
                                           </div>
                                       </div>
                                       <br>
                                       <div class="row">
                                           <div class="col-md-8">
                                               <input type="text" class="form-textarea input" placeholder="Nome do medicamento">
                                           </div>
                                           <div class="col-md-4">
                                               <input type="text" class="form-textarea input" placeholder="Quantidade">
                                           </div>
                                       </div>
                                       <br>
                                       <a href="#" class="btn btn-circle btn-timeline">+</a>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="shared">
                                            <div class="shared-text">
                                                <p>Compartilhar com paciente</p>
                                            </div>
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                                            </div>
                                        </div>
                                        
                                        <button class="btn btn-block btn-timeline">Salvar documento</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal" id="atestados">
                            <div class="modal-box">
                                <div class="modal-title">
                                    <h2>Documentos e Atestados</h2>
                                </div>
                                <div class="form">
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-textarea input" placeholder="Data">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-textarea input" placeholder="Atestado padrão">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <textarea class="form-textarea" placeholder="Observações">Atesto para os devidos fins a pedido do interessado que #nome_paciente, portador do documento de identidade #rg_paciente, foi submetido à consulta médica nesta data. &#13;&#10;&#13;&#10;Em decorrência, deverá permanecer afastado de suas atividades laborativas por um período de _______ dias a partir desta data.
                                                </textarea>
                                            </div>
                                        </div>
                                        <br>
                                        <a href="#" class="btn btn-circle btn-timeline">+</a>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="shared">
                                            <div class="shared-text">
                                                <p>Compartilhar com paciente</p>
                                            </div>
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                                            </div>
                                        </div>
                                        
                                        <button class="btn btn-block btn-timeline">Salvar documento</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal" id="anexos">
                            <div class="modal-box">
                                <div class="modal-title">
                                    <h2>Imagens e Anexos</h2>
                                </div>
                                <div class="form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form action="/upload-target" class="dropzone" id="file_ads">
                                                <div class="dz-message">ARRASTE AQUI IMAGENS E ANEXOS
                                                </div>
                                            </form>
                                        </div>
                                        
                                    </div>
                                    <br>
                                        <br>
                                        <br>
                                        <div class="shared">
                                            <div class="shared-text">
                                                <p>Compartilhar com paciente</p>
                                            </div>
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                                            </div>
                                        </div>
                                        
                                        <button class="btn btn-block btn-timeline">Salvar documento</button>
                                </div>
                            </div>
                        </div>

                        <div class="modal" id="compartilhar">
                            <div class="modal-box">
                                <div class="modal-title">
                                    <h2>Share</h2>
                                </div>
                                <div class="form">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="">Doctor's Name:</label>
                                                <input type="text" name="">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="">Specialty:</label>
                                                <input type="text" name="">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="">Address:</label>
                                                <input type="text" name="">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="">Your Password:</label>
                                                <input type="password" name="">
                                            </div>
                                            <div class="col-md-6 offset-md-6">
                                                <input type="submit" class="btn btn-gradient" value="SHARE">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal finish" id="finish">
                            <div class="modal-box">
                                <div class="modal-title__finish">
                                    <h3>Do you want to finish?</h3>
                                    <p>Duration of Service: <strong>00:45:39</strong></p>

                                    <div class="consulta-medica__item">
                                        <figure class="atendimento__photo">
                                            <img alt="Dr. Guilherme Marques" src="views/img/hitchcock.jpg">
                                        </figure>
                                        <div class="atendimento__paciente">
                                            <h3>Marcos Alves</h3>
                                            <span>UNIMED</span>
                                        </div>
                                    </div>
                                    <a href="" class="btn btn-red">Finish Service</a>
                                </div>
                            </div>
                        </div>
                    </section>



                </div>
            </div>
        </div>
    </div>
</section>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script> -->
<!-- <script src="views/js/vendor/modernizr-3.6.0.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->

<%- include includes/footer.ejs %>

<script>
    $(function() {
        let $btnFancyPrev = $('.btn-fancybox.left');
        let $btnFancyNext = $('.btn-fancybox.right');

        $btnFancyNext.on('click', function() {
            $('.fancybox-button--right').click();
        })
        $btnFancyPrev.on('click', function() {
            $('.fancybox-button--left').click();
        })
    })
</script>
